/* Write your code here. */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.Ul-containter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.image {
  width: 90%;
  margin-top: 20px;
}
